.btn {
  height: 48px;
  width: 100%;
  background: $red;
  color: $white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
.login-btn {
  font-weight: 300;
  font-size: 15px;
}
.return-btn {
  position: absolute;
  width: 300px;
  left: 0;
  right: 0;
  margin: 150px auto;
}